<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated interlocking -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="interlocking.presentation.InterlockingModelWizardID"
            name="%_UI_InterlockingModelWizard_label"
            class="interlocking.presentation.InterlockingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InterlockingModelFile.gif">
         <description>%_UI_InterlockingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated interlocking -->
      <editor
            id="interlocking.presentation.InterlockingEditorID"
            name="%_UI_InterlockingEditor_label"
            icon="icons/full/obj16/InterlockingModelFile.gif"
            extensions="interlocking"
            class="interlocking.presentation.InterlockingEditor"
            contributorClass="interlocking.presentation.InterlockingActionBarContributor">
      </editor>
   </extension>

</plugin>
